* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 30px;
    word-spacing: 30px;

}

.navbar img {
    width: 190px;
    top: 0;
}

.navbar a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition-duration: 0.3s;
    font-size: 22px;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.contact {
    padding: 10px;
    background-color: lightskyblue;
}

.contact:hover {
    background-color: white;
    color: black;
}

.header img {
    width: 100%;
}

.header h1 {
    position: absolute;
    text-align: center;
    left: 25%;
    font-size: 100px;
    padding-top: 180px;
    color: white;
}

.hero img {
    width: 50px;
    position: absolute;
    text-align: center;
    left: 48%;
    font-size: 100px;
    padding-top: 380px;
    color: white;
    cursor: pointer;
}

.grid, .grid2, .grid3, .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid4 h2, .grid4 p, .grid4 h3 {
    position: absolute;
    margin-top: 50px;
}

.grid {
    width: 100%;
}

.text1, .text2, .text3 {
    padding-top: 250px;
    padding-left: 150px;
}

.text1 h3 {
    padding: 10px;
    border-bottom: 10px solid hsl(51, 100%, 49%);
    width: 150px;
}

.text1 h3:hover {
    background-color: hsl(51, 100%, 49%);
}

.text2 h3 {
    padding: 10px;
    border-bottom: 10px solid hsl(7, 99%, 70%);
    width: 150px;
}

.text2 h3:hover {
    background-color: hsl(7, 99%, 70%);
}

.text3 h3 {
    padding: 10px;
    border-bottom: 10px solid rgb(123, 197, 243);
    width: 150px;
}

.text3 h3:hover {
    background-color: rgb(123, 197, 243);
}

.learn-more {
    cursor: pointer;
}

.text1 h2, .text2 h2, .text3 h2 {
    font-size: 50px;
}

.text1 p, .text2 p, .text3 p {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 22px;
}

.testimonials {
    background-color: whitesmoke;
}

.testimonials h3 {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    background-color: whitesmoke;
    color: hsl(213, 9%, 39%);
    letter-spacing: 10px;
}

.clients {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 50px;
}

.client-1 {
    width: 450px;
    padding: 80px;
}

.client-1 img {
    width: 70px;
    border-radius: 70px;
}

.client-1 p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.client-1 h4 {
    color: hsl(213, 9%, 39%);
}

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery img {
    width: 25%;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: hsl(167, 34%, 48%);
    padding: 30px;
}


.list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.list a {
    padding: 10px;
    color: hsl(167, 40%, 24%);
    text-decoration: none;
    border-radius: 30px;
    transition-duration: 0.3s;
    font-size: 22px;
    word-spacing: 40px;
    
}

.list a:hover {
    color: white;
}

.footer img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
    gap: 30px;
}